<!doctype html>
<html lang="en">
<head>
    <title>About Books</title>
</head>
<body>
    <h2>About the {{title}}</h2>
    <p>{{title}}, by {{author}}, will set you back about {{price}}</p>
</body>
</html>
